
/* ugly code to make first one selected */
#m1 {
    border: 1px solid red;
}
/* list of selectale items */
#mainMenu {
    border: 4px double slategray;
    /* width: 90%; */
    height: 40px;
    display: block;
    list-style-type: none;
    position: absolute;
    bottom: 0px;
    background-color: wheat;
    padding: 1px 10px;
    margin-bottom: 10px;
}
/* list of buildings */
#buildMenu {
    visibility: hidden;
    border: 4px double slategray;
    border-bottom: none;
    text-align: center;
    background-color: wheat;
    width: 40px;
    display: block;
    list-style-type: none;
    position: absolute;
    bottom: 40px;
    padding: 1px 3px;
    left: 168px;
}
/* amount of money */
#leftMenu {
    height: 50px;
    background-color: wheat;
    position: absolute;
    bottom: 10px;
    right: 5px;
    padding: 2px;
    margin: 0px;
    border: 4px double slategray;
}

/* each item */
li {
    height: 32px;
    display: inline-block;
    padding-top: 4px;
    
}
/* so when highlighted doesn't change */
img {
    border: 1px solid wheat;
}

/* used when clicking on person */
div {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: wheat;
}